{% extends "base.html" %}

{% block content %}

<div class="card-modern">
<h4>Editar Pedido</h4>

<form action="/actualizar/{{ pedido._id }}" method="POST">
<input name="cliente" class="form-control mb-2" value="{{ pedido.cliente }}">
<input name="producto" class="form-control mb-2" value="{{ pedido.producto }}">
<input name="cantidad" type="number" class="form-control mb-2" value="{{ pedido.cantidad }}">

<select name="estado" class="form-control mb-2">
<option>Pendiente</option>
<option>Enviado</option>
<option>Entregado</option>
</select>

<button class="btn btn-primary">Actualizar</button>
</form>

</div>

{% endblock %}
